body {
    line-height: 1;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
@font-face {
    font-family:Aktifo;
    font-style:normal;
    src: url(../fonts/Aktifo/AktifoB-Bold.ttf);
}
ol, ul {
    list-style: none;
}
.side-bar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 100%;
    background-color: #122c48;
    box-shadow: 0 0 3px rgba(0,0,0,.1), 0 0 6px rgba(0,0,0,.05);
    color: #fff;
    font-family: Aktifo,sans-serif;
    font-size: 1.1rem;
}
.side-bar .side-bar__header {
    height: 2rem;
    margin-bottom: 3rem;
    background-color: rgba(0,0,0,.2);
}
.side-bar .nav-menu {
    padding: 1rem;
    padding-right: 2rem;
    font-family: Aktifo,sans-serif;
    font-size: 1.1rem;
}
.side-bar .nav-menu .active {
    border-color: #fff;
}
.side-bar .nav-menu a:hover {
    background-color: rgba(0,0,0,.15);
    color: #fff;
}
.side-bar .nav-menu li {
    border-bottom: 1px solid rgba(255,255,255,.4);
}
.side-bar .nav-menu .active a {
    color: #fff;
}
.side-bar .nav-menu a {
    display: block;
    margin: 0 -2rem 0 -1rem;
    padding: 1rem 1.5rem .5rem;
    transition: background-color .3s ease,color .3s ease;
    color: rgba(255,255,255,.4);
}
.side-bar .side-bar__footer {
    margin-top: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}
.side-bar .side-bar__footer .logout {
    border-bottom: 1px solid rgba(255,255,255,.4);
}
.side-bar .side-bar__footer .logout a {
    display: block;
    margin: 0 -2rem 0 -1rem;
    padding: 1rem 1.5rem .5rem;
    transition: background-color .3s ease,color .3s ease;
    color: rgba(255,255,255,.4);
}
.side-bar .side-bar__footer .logout a:hover {
    background-color: rgba(0,0,0,.15);
    color: #fff;
}
a {
    text-decoration: none;
    color: inherit;
}
.content {
    margin-left: 18rem;
    width: calc(100% - 18rem);
    padding: .8rem 1.2rem;
    background-color: #f5f7fb;
    min-height: 100vh;
}